body {
    display: flex;
    justify-content: center;
    margin: 0;
}
.main-container {
    width: 100%;
}
/*header*/
.header {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-ohmyfood {
    display: flex;
    justify-content: space-around;
    width: 30%;

}
/*localisation*/
.localisation {
    display: flex;
    justify-content: space-around;
    background-color: #d8d6d6;
}
/*recherche*/
.recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding-bottom: 20px;
    
}
/*bouton explorer nos restaurant*/
.button-explorer {
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    padding: 15px;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    color: white;
    border-color:white;
}
/*Section fonction*/
.fonction {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
}
.fonction-title {
    margin-left: 50px;
}
.container-fonction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding-bottom: 30px;
}
.card-fonction {
    display: flex;
    margin: 15px;
    width: calc(30% - 50px);
    padding: 0;
}
.number {
    display: flex;
    border-radius: 50%;
    color: white;
    background: #9356dc;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center; 
    margin-left: -25px;  
    margin-right: 35px;
}
.a-fonction {
    display: flex;
    color: black;
    text-decoration: none;  
    align-items: center;
}
.card-title-fonction {
    display: flex;
    text-decoration: none;
    justify-content: space-around;    
}

.card-fonction:hover, .card-title-fonction:hover {
    background-color: #BCD0E5;
    color: white;
}
/*restaurant*/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: black;
}
.card img {
    object-fit: cover;
}
div.card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.img-restaurant {
    display: flex;
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;    
}
.card-title {
    margin: 0;
    margin-top: 10px;
}
/*permet de mettre photo et texte en colonne - change la couleur du a en noir et enleve le soulignement*/
.a-restaurant {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;  
}
.restaurant {
    background-color: #F2F2F2;
    padding-top: 20px;   
}
.restaurant-title {
    margin-left: 80px;
}
.container-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px 20px;
}
.card-restaurant {
    margin: 15px;
    width: calc(50% - 50px);
    padding: 0;
}
.a-restaurant {
    color: black;
    text-decoration: none;
}
/*Footer*/
footer {
    display: flex;
    background-color: #353535;
    justify-content: space-around;
}
.container-footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.a-renseignement {
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    justify-content: space-around;
}
.a-renseignement-footer {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
}
ul.footer {
    display: flex;
    flex-direction: row;
}
.li-footer-first {
    margin-right: 20px;
    margin-left: 50px;
}
.li-footer, .li-footer-first {
    list-style: none;
}
.a-renseignement:hover {
    color: red;
}
.footer {
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .img-ohmyfood {   
        width: 50%;
    }
    .container-fonction {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .card-fonction {
        width: 95%;
    }
    .fonction-title {
        margin: 0;
    }
    .container-restaurant {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30px;

    }
    footer {
        display: flex;
        justify-content: flex-start;
    }
    .card-restaurant {
        width: 95%;
    }
    .container-footer {
        padding-top: 15px;
    }
    ul.footer {
        display: flex;
        flex-direction: column;
    }
    .a-renseignement {
        display: flex;
        justify-content: flex-start;
        margin-right: 5px;
    }
    h4.renseignement-title {
        margin: 0;
    }
.li-footer-first {
    margin: 0;
    padding-bottom: 15px;
}
.a-renseignement-footer {
    margin-bottom: 20px;
}

   
}
    



