@import "./variable.scss";

/*Structure*/
body {
  justify-content: center;
  width: 100%;
  margin: 0;
  font-family: $font_roboto;
  font-size: 15px; 

.main__container {
  width: 100%;
}
}
/*header*/
.header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  
.header__img {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 10px;
  margin: auto;
}
}
.button-explorer {
  background: $linear_background;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 50px 50px 50px 50px;
  font-weight: bold;
  color: $white;
  border: none;
}  
.icone {
  padding-right: 10px;
}
.button-explorer:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 2px solid;
}

/*footer*/
footer {
  display: flex;
  background-color: #353535;
  color: white;
  width: 100%;
  justify-content: flex-end;
  padding-top: 30px;

h2.footer__title {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  font-family: $title_font;
}
li a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
}
}
.footer__nav {
  display: flex;
  margin-right: 30px;

.footer__nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-icone {
  padding-right: 5px;
}
}
.footer__title-a {
  text-decoration: none;
  color: $white;
}
.nav__a:hover {
  color: $third_color;
}





