@import "./variable.scss";
@import "./global.scss";
@import "./animation.scss";


/*Page des menus*/
/*Titre placement + coeur animation placement*/
.restaurant-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  .checkbox-heart {
    padding-left: 50px;
  }
  .card__content-coeur {
  padding-left: 50px;
  }
}
.checkbox-heart {
  padding-left: 50px;
}
.img-repas {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.restaurant__title-h1 {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-family: $title_font;
}
.restaurant {
  display: flex;
  justify-content: space-around;
}

.container-restaurant {
  margin-top: -50px;
  display: flex;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  flex-direction: column;
  background-color: $light_white;
  width: 75%;
  align-items: center;
}
.card-menu {
	width: 80%;
	background-color: $white;
	padding-left: 15px;
	display: flex;
	/*changer box*/
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	cursor: pointer;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 15px;
}
.card-menu__header {
  white-space: nowrap;
  /**/
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  padding: 10px;
}
.card-menu__title {
  margin: 0;
  white-space: nowrap;
  /**/
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu__description {
  margin: 0;
  white-space: nowrap;
  /*permet d'afficher les points de suspension*/
  text-overflow: ellipsis;
  /*permet de masquer tous ce qui ne rentre pas dans le conteneur*/
  overflow: hidden;
}
.menu {
  width: 80%;
	padding-left: 15px;
	padding-top: 15px;
	display: flex;
  font-family: $font_roboto;
}
h3.repas {
  font-weight: normal;
}
.card-menu__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}
.card-menu_check {
  background-color: $third_color;
  margin:0;
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  margin-right: -80px;
}
.card-menu_icon {
	/*dimension icone cercle*/
	height: 25px;
	width: 25px;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	.card-menu-icon {
	color: $third_color;
  }
}
/*Mobile*/
/*Mobile*/
/*responsive*/
@media screen and (min-width: 640px) and (max-width: 1024px) {
  img.img-ohmyfood {
    width: 50%;
  }
  .container-restaurant {
    width: 100%;
  }
  
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column-reverse
  }
  footer h2.footer__title {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .footer__nav-ul {
    display: flex;
    flex-direction: column;
  }
  footer li a {
    margin: 0;
  }
  .footer__nav .footer__nav-ul {
    align-items: flex-start;
    padding: 0;
    margin-left: 15px;
  }
}
  
  