@import "./variable.scss";
@import "./global.scss";

.loader__enter {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /*temps d'apparition du loader*/
  animation: fadeout 7s forwards;
}
@keyframes fadeout {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
.loader{
  font-size: 48px;
  color: $black;
  display: inline-block;
  font-weight: 400;
  position: relative;
}
.loader:before{
  content: 'Ohmyfood';
  font-family: $title_font;
  height: 5px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient($primary_color 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  /*temps de chargement de barre*/
  animation: 5s lineGrow linear infinite;
}
.loader:after{
  content: 'Bienvenue sur';
  font-family: $title_font;
  position: relative;
  z-index: 5;
}
@keyframes lineGrow {to {  background-size: 100% auto}}
.loader-circle {
  width: 200px;
  height: 200px;
  border: 3px dotted $primary_color;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  /*vitesse de rotation du cercle*/
  animation: rotation 2s linear infinite;
  padding-left: 30px;
}
.loader-circle::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px dotted $second_color;
  border-style: solid solid dotted;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotation 15s linear infinite;
  transform-origin: center center;
}  
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

/*localisation*/
.localisation {
  display: flex;
  justify-content: space-around;
  background-color: $light_grey;
  border-top: 1px solid $black;
}
/*recherche*/
.recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_white;
  padding-bottom: 20px;
}
/*Section fonction*/
.fonction {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 50px;

.fonction__title {
  margin-left: 40px;
}
.container__fonction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}
.container__fonction-card {
  display: flex;
  width: calc(30% - 50px);
  padding: 0;
  background-color:$light_white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  width: 30%;
}
.number {
  display: flex;
  border-radius: 50%;
  color: $white;
  background: $primary_color;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
  margin-right: 35px;
}
.a-fonction {
  display: flex;
  color: $black;
  text-decoration: none;
  align-items: center;
}
.container__fonction-card:hover {
  background-color: $rose_color;
  transition: 300ms ease-in-out;
  }
}
/*restaurant*/ 
.restaurant__title {
  margin-left: 65px;
}
.restaurant__card-nouveau {
  color: $four_color;
  background-color: $third_color;
  text-align: center;
  width: 100px;
  padding: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
  margin: 0px;
  border-radius:10px 10px 10px 10px;
}
.container__restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;

.restaurant {
  background-color: $light_white;
  padding-top: 20px;
}
.restaurant__title {
  display: flex;
  justify-content: space-around;
}
.container__restaurant-card{
  margin: 15px;
  width: calc(50% - 50px);
  padding: 0;
  background-color: $white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  text-decoration: none;
  color: $black;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.a-restaurant {
  display: flex;
  flex-direction: column;
  color: $black;
  text-decoration: none;
}
div.card__content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;

.card__content-coeur {
  margin-left: 50%;
  margin-top: 25px;
}
}
.card img {
  object-fit: cover;
}
.img-restaurant {
  display: flex;
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
}
.card-txt__h3 {
  margin: 0;
  padding-top: 15px;
  width: 75%; 
}
.card-txt__p {
  margin: 0;
  width: 75%;
}
}
/*animation du coeur*/
label {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.icon--heart {
	&:before, &:after {
	font-family: fontAwesome;
  /*forme de coeur*/
  content: '\f004';
  /*
  font: var(--fa-font-solid);
  */
	font-size: 35px;
	position: absolute;
	margin-top: -10px;
	margin-left: -26px;  
}
	&:before {
	color: $light_grey;
}
	&:after{
  opacity: 0;
  color: $primary_color;
  }
}
}
.card__content-coeur > input:checked ~ label {
	&.icon--heart {
		&:before {
			color: $primary_color;
			animation: pulse 0.5s alternate;
		}
	}
}
@keyframes pulse {
0%{
	transform: scale(1) ;
  opacity: 1;
}	
50% {
	transform: scale(1.2) ;
  opacity: 1;
}	
100%{
	transform: scale(1);
  opacity: 1;
	}
}

@media screen and (min-width: 640px) and (max-width: 1550px) {
img.img-ohmyfood {
  width: 50%;
}
.container__fonction {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.container__fonction-card {
  margin-bottom: 15px;
}
.fonction {
  margin-left: 20px;
}
.fonction .fonction__title {
  margin:0;
}
.fonction .container__fonction-card {
  width: 95%;
}
.container__restaurant {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px; 
}
.container__restaurant .container__restaurant-card {
  width: 95%;
}
/*footer*/
.footer {
  display: flex;
  flex-direction: column-reverse
}
footer h2.footer__title {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}
.footer__nav-ul {
  display: flex;
  flex-direction: column;
}
footer li a {
  margin: 0;
}
.footer__nav .footer__nav-ul {
  align-items: flex-start;
  padding: 0;
  margin-left: 15px;
}
}

