@import "./variable.scss";
@import "./global.scss";

/*header*/
.header__nav{
  display: inline-flex;
  background-color: $white;
  width: 100%;
  height: 80px;
}
.header__nav a {
  float: left;
  color: $black;
  text-align: center;
  text-decoration: none;
}
.header__icone {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: $black;
  padding-left: 50px;
}
.header__img {
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
}
/*Page des menus*/
.img-repas {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.restaurant__title-h2 {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-family: $title_font;
}
.coeur {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.restaurant {
  display: flex;
  justify-content: space-around;
}
.container-restaurant {
  margin-top: -50px;
  display: flex;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  flex-direction: column;
  padding-bottom: 15px;
  background-color: $light_white;
  width: 75%;
  align-items: center;
}
.conteneur-menu {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin: 20px;
  width: 75%;
}
.menu {
  text-transform: uppercase;
  position: relative;
}
.repas {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  
}
.repas::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #99e2d0;
  position: static;
  bottom: 26rem;
  margin-top: 5px;
}
.menu-action {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  .menu-size {
    margin: 0;
    font-size: 12px; 
  }
  .menu-nom {
    grid-column: 1;
    grid-row: 1;
    padding-left: 15px;
  }
  .menu-aliment {
    grid-column: 1;
    grid-row: 2;
    padding-left: 15px;
    text-transform: none;
  }
  .tarif {
    grid-column: 2;
    grid-row: 2;
  }
}
.card-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid $light_white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}
.commander {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $light_white;
}

.restaurant-title {
  display: flex;
  justify-content: center;
  align-items: center;
  .checkbox-heart {
    padding-left: 50px;
  }
}
/*animation*/

/*animation du coeur*/
label {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&.icon--heart {
	&:before, &:after {
	font-family: fontAwesome;
	content: '\f004';
	font-size: 35px;
	position: absolute;
	margin-top: -10px;
	margin-left: -26px;  
}
	&:before {
	color: $light_grey;
}
	&:after{
  opacity: 0;
  color: $primary_color;
  }
}
}
.checkbox-heart > input:checked ~ label {
	&.icon--heart {
		&:before {
			color: $primary_color;
			animation: pulse 0.5s alternate;
		}
	}
}
@keyframes pulse {
0%{
	transform: scale(1) ;
  opacity: 1;
}	
50% {
	transform: scale(1.2) ;
  opacity: 1;
}	
100%{
	transform: scale(1);
  opacity: 1;
	}
}
@media screen and (min-width: 640px) and (max-width: 1550px) {
  .container-restaurant {
    width: 100%;
  }
  .conteneur-menu {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    margin: 20px;
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column-reverse
  }
  footer h2.footer__title {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .footer__nav-ul {
    display: flex;
    flex-direction: column;
  }
  footer li a {
    margin: 0;
  }
  .footer__nav .footer__nav-ul {
    align-items: flex-start;
    padding: 0;
    margin-left: 15px;
  }
}