@import "./variable.scss";
@import "./global.scss";
@import "./animation.scss";

/*localisation*/
.localisation {
  display: flex;
  justify-content: space-around;
  background-color: $light_grey;
  border-top: 1px solid $black;
}
/*recherche*/
.recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_white;
  padding-bottom: 20px;

}
/*Section fonction*/
.fonction {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

.fonction__title {
  margin-left: 40px;
}
.container__fonction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
}
h3.card-title-fonction {
  font-size: 15px;
}
.container__fonction-card {
  display: flex;
  width: calc(30% - 50px);
  padding: 0;
  background-color:$light_white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 30%;
}
.number {
  display: flex;
  border-radius: 50%;
  color: $white;
  background: $primary_color;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
  margin-right: 35px;
}
.a-fonction {
  display: flex;
  color: $black;
  text-decoration: none;
  align-items: center;
}
.container__fonction-card:hover {
  background-color: $rose_color;
  transition: 100ms ease-in-out;
  }
}
/*restaurant*/ 
.restaurant__card-nouveau {
  color: $four_color;
  background-color: $third_color;
  text-align: center;
  width: 100px;
  padding: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
  margin: 0px;
  border-radius:10px 10px 10px 10px;
}
.h2__title{
  margin-left: 40px;
}
.container__restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
.restaurant {
  background-color: $light_white;
  padding-top: 20px;
}
.restaurant__title {
  display: flex;
  justify-content: space-around;
}
.container__restaurant-card{
  margin: 15px;
  width: calc(50% - 50px);
  padding: 0;
  background-color: $white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  text-decoration: none;
  color: $black;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.a-restaurant {
  display: flex;
  flex-direction: column;
  color: $black;
  text-decoration: none;
}
div.card__content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75px;

.card__content-coeur {
  margin-left: 50%;
  margin-top: 25px;
  }
}
.card img {
  object-fit: cover;
}
.img-restaurant {
  display: flex;
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
}
.card-txt__h3 {
  margin: 0;
  padding-top: 15px;
  width: 75%; 
  font-size: 15px;
}
.card-txt__p {
  margin: 0;
  width: 75%;
  font-size: 15px;
}
}
/*Mobile*/
/*responsive*/
@media  (max-width: 1024px) {
  img.img-ohmyfood {
    width: 50%;
  }
  .container__fonction {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .fonction .container__fonction {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    margin-left: 50px;
}
  .container__fonction-card {
    margin-bottom: 15px;
  }
  .fonction .container__fonction-card {
    width: 90%;
  }
  .container__restaurant {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 15px;
  }
  .container__restaurant .container__restaurant-card {
    width: 95%;
  }
.h2__title{
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column-reverse
  }
  footer h2.footer__title {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .footer__nav-ul {
    display: flex;
    flex-direction: column;
  }
  footer li a {
    margin: 0;
  }
  .footer__nav .footer__nav-ul {
    align-items: flex-start;
    padding: 0;
    margin-left: 15px;
  }
}
