$primary_color: #9356DC;
$second_color: #FF79DA;
$third_color: #99E2D0;
$light_white: #f2f2f2;
$white: white;
$black:black;

$linear_background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);

$title_font: 'Shrikhand', cursive;
$content_font: 'MA FONT ICI'