$primary_color: #9356DC;
$second_color: #FF79DA;
$rose_color: #f3d0e9;
$third_color: #99E2D0;
$four_color: #278870;
$light_white: #f2f2f2;
$light_grey: #eaeaea;
$white: white;
$black:black;

$linear_background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);

$title_font: 'Shrikhand', cursive;
$font_roboto: 'roboto', sans-serif;