/*Structure*/
body {
  justify-content: center;
  width: 100%;
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 15px;
}
body .main__container {
  width: 100%;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header .header__img {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 10px;
  margin: auto;
}

.button-explorer {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 50px 50px 50px 50px;
  font-weight: bold;
  color: white;
  border: none;
}

.icone {
  padding-right: 10px;
}

.button-explorer:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 2px solid;
}

/*footer*/
footer {
  display: flex;
  background-color: #353535;
  color: white;
  width: 100%;
  justify-content: flex-end;
  padding-top: 30px;
}
footer h2.footer__title {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  font-family: "Shrikhand", cursive;
}
footer li a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
}

.footer__nav {
  display: flex;
  margin-right: 30px;
}
.footer__nav .footer__nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer__nav .nav-icone {
  padding-right: 5px;
}

.footer__title-a {
  text-decoration: none;
  color: white;
}

.nav__a:hover {
  color: #99E2D0;
}

/*header*/
.header__icone {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.header__img {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 10px;
  margin: auto;
}

/*Page des menus*/
.img-repas {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.restaurant__title-h2 {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
}

.coeur {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.restaurant {
  display: flex;
  justify-content: space-around;
}

.container-restaurant {
  margin-top: -50px;
  display: flex;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  flex-direction: column;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  width: 80%;
}

.conteneur-menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  margin: 20px;
}

.menu {
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

.repas {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.repas::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #99e2d0;
  position: static;
  bottom: 26rem;
  margin-top: 5px;
}

.menu-action {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.menu-action .menu-size {
  margin: 0;
  font-size: 12px;
}
.menu-action .menu-nom {
  grid-column: 1;
  grid-row: 1;
  padding-left: 15px;
}
.menu-action .menu-aliment {
  grid-column: 1;
  grid-row: 2;
  padding-left: 15px;
  text-transform: none;
}
.menu-action .tarif {
  grid-column: 2;
  grid-row: 2;
}

.card-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}

.commander {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  background-color: #f2f2f2;
}

@media screen and (min-width: 500px) and (max-width: 1550px) {
  .conteneur-menu {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    margin: 20px;
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  footer h2.footer__title {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }
  .footer__nav-ul {
    display: flex;
    flex-direction: column;
  }
  footer li a {
    margin: 0;
  }
  .footer__nav .footer__nav-ul {
    align-items: flex-start;
    padding: 0;
    margin-left: 15px;
  }
}

/*# sourceMappingURL=style.menu.css.map */
